/* Колір основного тексту #212121, 100% */
/* другорядний колір тексту #757575, 100% */
/* Білий колір #FFFFFF */
/* Акцент #2196F3; */

/* Кольори адреси в футері #FFFFFF;
rgba(255, 255, 255, 0.6);*/

/* другорядний колір фону background: #F5F4FA;
 */
/* Загальні стилі */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

/* Фон та колір основного тексту */
body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

/* Прибираємо кільця в списку */

.list {
  list-style: none;
}

/* Logo */

.logo:focus {
  color: var(--accent);
}

.logo {
  font-family: Raleway, sans-serif;
}
/* Навігація в шапці */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

/* Підсвічування поточної сторінки */
.site-nav .link.current {
  color: var(--accent);
}

.site-links .link {
  color: var(--primary-text-color);
}

.site-links .link:hover,
.site-links .link:focus {
  color: var(--accent);
}

/* Стилі для index.html */
/* Hero */

.hero-title {
  color: var(--title-text-color);
}
.hero-button {
  color: var(--primary-bg-color);
  background-color: var(--accent);
}

/* Features */

.features .features-title {
  color: var(--title-text-color);
}

/* Examples */

.section-title {
  color: var(--title-text-color);
}

/* Стилі для Portfolio.html */
/* Button */

.filters-button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}
.filters-button:hover,
.filters-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent);
}

/* Footer address */
.connection .address {
  color: var(--primary-bg-color);
}

.connection .link {
  color: rgba(255, 255, 255, 0.6);
}

.connection .link:hover,
.connection .link:focus {
  color: var(--accent);
}
