/* Колір основного тексту #212121, 100% */
/* другорядний колір тексту #757575, 100% */
/* Білий колір #FFFFFF */
/* Акцент #2196F3; */

/* Кольори адреси в футері #FFFFFF;
rgba(255, 255, 255, 0.6);*/

/* другорядний колір фону background: #F5F4FA;
 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
}

/* Фон та колір основного тексту */
body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

/* Прибираємо кільця в списку */

.list {
  list-style: none;
}

/* Logo */

.logo:focus {
  color: var(--accent);
}

/* Навігація в шапці */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

/* Hero */

.hero-title {
  color: var(--title-text-color);
}

/* Features */

.features .features-title {
  color: var(--title-text-color);
}

/* Examples */

.section-title {
  color: var(--title-text-color);
}

/* Сторінка Portfolio */
/* Button */

.button {
  color: var(--title-text-color);
}
